@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;900&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-width: 100vw;
	height: 100%;
	overflow-x: hidden;
}
.mainBody {
	width: 100%;
	width: 100%;
	min-height: 100%;
}

/* //------------ */
.dropMenu {
	background-color: #19191a;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	display: grid;
	place-items: center;
	transform: translateX(-100%);
	transition: all 0.5s ease;
	display: none;
}
.btn {
	outline: none;
	border: none;
	width: 120px;
	height: 40px;
	font-size: 1.1rem;
	font-weight: 630;
	border-radius: 5px;
	transition: all 0.7s ease;
	background-color: rgb(255, 255, 255);
}
.btn:hover {
	background-color: #ff08d6;
}
.btn1 {
	padding-top: px;
	outline: none;
	border: none;
	width: 120px;
	height: 45px;
	font-size: 1rem;
	font-weight: 640;
	border-radius: 5px;
	transition: all 0.7s ease;
	background-color: rgb(236, 69, 208);
}
.btn1:hover {
	background-color: #ffffff;
}
.mob1 {
	padding: 25px;
	height: 20%;
}
@media (max-width: 600px) {
	.dropMenu {
		display: flex;
	}
	.Ham {
		display: block;
	}
}
.Close {
	position: absolute;
	top: 25px;
	right: 30px;
	color: white;
	font-weight: 600;
	font-size: 2rem;
	cursor: pointer;
}
.MenuAnimation {
	transform: translateX(0%);
}
.ham {
	cursor: pointer;
}
.dropMenu ul {
	width: 100%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}
.dropMenu ul li {
	width: 100%;
	height: 70px;
	display: grid;
	place-items: center;
}
.dropMenu ul li a {
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 500;
	color: #ffffff;
	transition: all 0.5s ease;
	white-space: nowrap;
}
.dropMenu ul li a:hover {
	color: rgb(236, 69, 208);
}

/* //------------- */
.header {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	background-color:#4bd6f2;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 55;
	transition: all 0.5s ease;
	overflow: hidden;
}
.sub_header {
	max-width: 1400px;
	width: 100%;
	background-color: transparent;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}
.logo {
	width: 100px;
	display: flex;
	align-items: center;
	margin-left: 50px;
}
.logo img {
	width: 100%;
	object-fit: contain;
}
.ham {
	display: none;
}

.menu_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 70%;
	width: 100%;
}
.menu_item ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.menu_item ul li {
	list-style: none;
	white-space: nowrap;
}
.menu_item ul li a {
	text-decoration: none;
	color: #fff;
	transition: all 0.5s ease;
	position: relative;
	font-size: 0.8rem;
	letter-spacing: 1px;
	white-space: nowrap;
	font-weight: 600;
}
.menu_item ul li span {
	color: #fff;
	margin-left: 5px;
}
.menu_item ul li a::after {
	content: '';
	width: 0;
	height: 2px;
	position: absolute;
	background-color: #b6228f;
	bottom: -10px;
	left: 0;
	transition: all 0.5s ease;
}
.menu_item ul li a:hover::after {
	width: 99%;
}
.menu_item ul li a:hover {
	color: #b6228f;
}
.buttons {
	margin: 0 20px;
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.blue-button {
	padding-top: 20px;
}

.buttons button {
	width: 90px;
	height: 30px;
	margin-left: 10px;
	outline: none;
	border: none;
	text-transform: capitalize;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
}
#login {
	background-color: #ffffff;
	color: #fc00bd;
	border: solid 1px #fc00bd;
}
#register {
	background-color: #fc00bd;
	color: #fff;
}

.yellow_container {
	width: 100%;
	max-height: 80vh;
	height: 400px;
	display: grid;
	place-items: center;
	background-color: #fff2fc;
	overflow: hidden;
}
.yellow_section {
	max-width: 1400px;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    align-content: center;
    flex-direction: column;
}

.yellow_section h1{
    font-weight: 700;
}

button.start {
    margin-top: 40px;
    height: 60px;
    font-size: 2rem;
    width: 170px;
    color: white;
    border-radius: 10px;
    background-color: #b0088b;
}

.gap {
    padding-top: 10px;
}
.yellow_left p {
	padding-bottom: 10px;
	font-size: 1rem;
	font-weight: 500;
    line-height: 1rem;
}
.yellow_left button {
	outline: none;
	border: none;
	width: 200px;
	height: 40px;
	font-weight: 600;
	font-size: 1.2rem;
	background: #b0088b;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.5s ease;
	margin: 50px 0 50px auto;
}
.yellow_section img {
	height: 70%;
}
@media (max-width: 600px) {
	.yellow_left h1,
	.yellow_left h2 {
		text-align: left;
		width: 100%;
	}
	.yellow_left h1 {
		font-size: 3rem;
		font-weight: 700;
		margin: 20px 0;
	}
	.yellow_section {
		padding: 0 10px;
	}
	.yellow_left {
		padding: 0 0;
		height: 10vh;
	}
	.yellow_left p {
		padding-bottom: 15px;
		font-size: 1rem;
		font-weight: 500;
	}
	.yellow_text_zone {
		height: 10vh;
		text-align: left;
	}
	.yellow_left button {
		margin: 0 auto;
	}
	.Hero_img {
		background-size: cover;
		width: 100vw;
		height: 85vw;
	}
	.Hero_section {
		height: 100vh;
	}
	.ham {
		display: grid;
		margin-right: 20px;
		border-radius: 5px;
		width: 40px;
		height: 40px;
		place-items: center;
	}
	.logo {
		margin-left: 20px;
	}
	.yellow_right {
		display: none;
	}
}





.footer_MainBox {
	width: 100%;
	background-color: #00bcd4;
	display: grid;
	place-items: center;
}
.Footer_page {
	overflow: hidden;
	width: 100%;
	max-width: 1400px;
	width: 100%;
}
.Footer_conatiner {
	width: 100%;
	height: fit-content;
	background-color: #4bd6f2;
	display: flex;
	justify-content: space-evenly;
	padding: 20px;

	position: relative;
}
.Footer_header {
	width: 50%;
	height: 100%;
	letter-spacing: 1px;
	line-height: 1.5em;
	color: rgba(245, 245, 245, 0.788);
	padding-right: 20px;
	padding: 10px;
}
.Footer_header p {
	font-size: 0.8rem;
}
.Footer_columns_holder {
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	overflow: hidden;
}
.Footer_columns {
	height: 200px;
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	letter-spacing: 2px;
	overflow: hidden;
}
.Footer_columns h1 {
	font-size: 1rem;
	color: white;
	font-weight: 600;
}
.Footer_columns a {
	width: fit-content;
	text-decoration: none;
	font-size: 0.8rem;
	color: rgba(245, 245, 245, 0.788);
	transition: all 0.5s ease;
}
.Footer_header img {
	width: 150px;
	object-fit: contain;
}
.Footer_columns a:hover {
	text-decoration: underline;
	color: #ff00bb;
}
.join_our {
	padding: 0 50px;
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	position: absolute;
	bottom: 5%;
	right: 0%;
}
.join_our p {
	color: #fff;
    font-weight: 500;
    font-size: 1.35rem;
    margin-right: 180px;
    white-space: nowrap;
}
.input_holder {
	width: 430px;
	display: flex;
	justify-content: space-around;
}
.input_holder input {
	outline: none;
	border-radius: 10px;
	height: 35px;
	width: 280px;
	border: solid 1px white;
	padding: 10px;
}
.input_holder button {
	outline: none;
	border: none;
	width: 90px;
	height: 35px;
	border-radius: 20px;
	background: #ff00bb;
	font-weight: 600;
}
.Privacy_holder {
	width: 100%;
	height: 60px;
	background-color: #00bc;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.Privacy_links {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.Privacy_links a {
	font-weight: 500;
	width: fit-content;
	text-decoration: none;
	font-size: 0.7rem;
	color: rgba(255, 255, 255, 0.404);
	transition: all 0.5s ease;
}
.Privacy_links a:hover {
	color: rgba(255, 255, 255, 0.938);
}
.Social-media {
	margin-right: 40px;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image_conatiner {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#link {
	object-fit: contain;
	width: 30px;
	cursor: pointer;
}
.copyRight {
	color: rgba(255, 255, 255, 0.644);
	height: 30px;
	font-size: 0.7rem;
	display: grid;
	place-items: center;
}
.responsive {
	display: none;
}

@media (max-width: 500px) {
	.contact-us-right {
		width: 95vw;
		height: 75%;
	}
	.image_conatiner {
	width: 100%;
	
}
}

/*......................... text-area............................. */

section {
    padding-top: 40px;
    padding-bottom: 20px;
}

.content_container{
    display: flex;
}
.left-content .syllabus{
    padding-left: 17rem;
}

.question h4{
    font-size: 1.2rem;
    font-weight: bold;
}

.answer p{
    font-size: 0.8rem;
}

.left-content h1{
    font-weight: 620;
}

.title{
    display: inline-flex;
}

.contents {
    padding-top: 30px;
    padding-left: 30px;
}

.right-content{
    margin-left: 80px;
    margin-top: -150px;
    box-shadow: 2px 3px #dbdbdb;
}

.card.text-end {
    width: 100%;
    height: 11rem;
}

.card-body{
    text-align: center;
}

.card-body h5{
    font-weight: 600;
}

.card-body p{
    font-size: 0.7rem;
}

/*    companies      */

.company h3 {
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.logos{
    padding-top: 2rem;
    display: flex;
    gap: 7rem;
    justify-content: center;
}
.logos img{
    height: 100px;
    width: 100px;
}

.borderbox {
    border: 15px solid #fff2fc;
}

.textual h3{
    color: #b3118f;
    font-weight: 600;
}
.card-body-new {
    display: flex;
    gap: 2rem;
    padding-left: 19px;
    padding-right: 35px;
    padding-top: 20px;
}
.number {
    padding-top: 35px;
    color: #828282;
}

.number h1{
    font-family: cursive;
    font-size: 2rem;
}
.textual{
    text-align: left;
    width: 750px;
    padding-left: 9px;
}

.textual p{
    font-size: 1.2rem;
    padding-top: 8px ;
}

.card-body-new button.big {
    height: 40px;
    width: 190px;
    margin-top: 40px;
    border-radius: 10%;
    border-color: #eecae6;
    box-shadow: 1px 2px #f0c8e8;
    background-color: transparent;
   
}

.card-body-new button.small {
    height: 40px;
    width: 100px;
    margin-top: 40px;
    border-radius: 10%;
    border-color: #eecae6;
    box-shadow: 1px 2px #f0c8e8;
    background-color: transparent;
    
}

.lessons p{
    font-size: 2.4rem;
    color: #c240a5;
}

.lessons {
    padding-left: 35%;
    font-weight: 600;
}

.card-body-new-last {
    display: flex;
    gap: 2rem;
    padding-left: 19px;
    padding-right: 35px;
    padding-top: 20px;
    align-items: center;
}




/* /////----------------------------------free_course----------------------- */



@media (max-width: 510px) {

	.Social-media {
		margin-bottom: 10px;
	}
}


@media (max-width: 900px) {
	.Footer_conatiner {
		flex-direction: column;
	}
	.Footer_header {
		width: 100%;
	}
	.yellow_section {
		flex-direction: column;
	}
	.yellow_left {
		width: 100%;
		height: 65vh;
		align-items: center;
		padding: 30px 10px 10px 10px;
		text-align: center;
		margin: 20px 0 0 0;
	}
	.yellow_right {
		width: 100%;
		height: 30vh;
		overflow-x: hidden;
	}
	.desktop {
		display: none;
	}
	.responsive {
		display: flex;
	}
	.join_our {
		position: relative;
		align-items: center;
	}
}
@media (max-width: 750px) {
	.Footer_conatiner {
		padding: 5px;
	}
	.Footer_conatiner .Footer_columns_holder {
		width: 95%;
		align-items: center;
	}
	.Footer_columns {
		width: 50%;
	}
	.Footer_columns p {
		width: 95%;
	}
	.Privacy_holder {
		justify-content: space-around;
		flex-direction: column-reverse;
		padding: 10px;
	}
	.Privacy_links {
		width: 100%;
	}
	.Social-media {
		width: 50%;
	}
}
@media (max-width: 720px) {
	.menu_item ul {
		display: none;
	}
	.menu_item {
		display: none;
	}
	.buttons {
		width: 100px;
		background-color: red;
	}
}
@media (max-width: 550px) {
	.copyRight {
		font-size: 0.5rem;
	}
}

@media (max-width: 376px) {

	.copyRight {
		font-size: 0.5rem;
	}
	.contact-us-section {
		height: 97vh;
	}
}

.blue-button {
	margin: 0 auto;
	padding-top: 50px;
}

@media (max-width: 991px) {
    .right-content{
        display: none;
    }

    .logos img{
        height: 80px;
        width: 80px;
    }

    .logos{
        gap: 4rem;
    }

    .number h1{
        font-size: 1.5rem;
    }

    .textual h3{
        font-size: 1.5rem;
    }

    .textual p{
        font-size: 0.9rem;
    }

    .card-body-new{
        gap: 1rem;
    }

    .card-body-new button.big{
        width: 290px;
    }

    .card-body-new button.small{
        width: 180px;
    }

    .lessons{
        padding-left: 25%;
        padding-top: 5%;
    }
    
}

@media (max-width: 770px) {
    .right-content{
        display: none;
    }

    .logos{
        gap: 6rem;
        flex-wrap: wrap;
    }

    .number h1{
        font-size: 1.5rem;
    }

    .textual h3{
        font-size: 1.5rem;
    }

    .textual p{
        font-size: 0.75rem;
    }

    .card-body-new{
        gap: 1rem;
    }

    .card-body-new button.big{
        width: 290px;
        height: 50px;
    }

    .card-body-new button.small{
        width: 180px;
        height: 50px;
    }

    .lessons{
        padding-left: 25%;
        padding-top: 5%;
    }

    .left-content .syllabus {
        padding-left: 10rem;
    }

    .logos img{
        height: 80px;
        width: 80px;
    }

    .card-body-new{
        height: 18rem;
    }
}

 @media (max-width: 570px) {
    .right-content{
        display: none;
    }

    .logos img{
        height: 80px;
        width: 80px;
    }

    .logos{
        gap: 4rem;
    }

    .number h1{
        font-size: 1.5rem;
    }

    .textual h3{
        font-size: 1.5rem;
    }

    .textual p{
        font-size: 0.75rem;
    }

    .card-body-new{
        gap: 1rem;
    }

    .card-body-new button.big{
        width: 290px;
    }

    .card-body-new button.small{
        width: 180px;
    }

    .card.text-end {
        width: 100%;
        height: 15rem;
    }

    .lessons{
        padding-left: 25%;
        padding-top: 5%;
    }

    .left-content .syllabus {
        padding-left: 8rem;
    }

    .left-content h1{
        font-size: 1.8rem;
        font-weight: 600;
    }

    .logos img{
        height: 60px;
        width: 60px;
    }
} 

@media (max-width: 400px) {
    .right-content{
        display: none;
    }

    .logos img{
        height: 80px;
        width: 80px;
    }

    .logos{
        gap: 4rem;
    }

    .number h1{
        font-size: 1.5rem;
    }

    .textual h3{
        font-size: 1.5rem;
    }

    .textual p{
        font-size: 0.75rem;
    }

    .card-body-new{
        gap: 1rem;
    }

    .card-body-new button.big{
        width: 290px;
    }

    .card-body-new button.small{
        width: 180px;
    }

    .card.text-end {
        width: 100%;
        height: 15rem;
    }

    .lessons{
        padding-left: 25%;
        padding-top: 5%;
    }

    .left-content .syllabus {
        padding-left: 8rem;
    }

    .left-content h1{
        font-size: 1.8rem;
        font-weight: 600;
    }

    .left-content .syllabus {
        padding-left: 5rem;
    }

    .logos img{
        height: 60px;
        width: 60px;
    }
} 

@media (max-width: 360px) {
    .right-content{
        display: none;
    }

    .logos img{
        height: 80px;
        width: 80px;
    }

    .logos{
        gap: 4rem;
    }

    .number h1{
        font-size: 1.5rem;
    }

    .textual h3{
        font-size: 1.5rem;
    }

    .textual p{
        font-size: 0.75rem;
    }

    .card-body-new{
        gap: 1rem;
    }

    .card-body-new button.big{
        display: none;
    }

    .card-body-new button.small{
        width: 200px;
    }

    .yellow_section h1 {
        font-weight: 700;
        font-size: 2rem;
    }

    .card.text-end {
        width: 100%;
        height: 15rem;
    }

    .lessons{
        padding-left: 25%;
        padding-top: 5%;
    }

    .left-content .syllabus {
        padding-left: 8rem;
    }

    .left-content h1{
        font-size: 1.5rem;
        font-weight: 700;
    }

    .left-content .syllabus {
        padding-left: 3rem;
    }

    .logos img{
        height: 60px;
        width: 60px;
    }
} 

@media (max-width: 320px) {
    .right-content{
        display: none;
    }

    .logos img{
        height: 80px;
        width: 80px;
    }

    .logos{
        gap: 4rem;
    }

    .number h1{
        font-size: 1.5rem;
    }

    .textual h3{
        font-size: 1.5rem;
    }

    .textual p{
        font-size: 0.75rem;
    }

    .card-body-new{
        gap: 1rem;
    }

    .card-body-new button.big{
        display: none;
    }

    .card-body-new button.small{
        width: 200px;
    }

    .yellow_section h1 {
        font-weight: 700;
        font-size: 2rem;
    }

    .card.text-end {
        width: 100%;
        height: 15rem;
    }

    .lessons{
        padding-left: 25%;
        text-align: center;
        padding-top: 5%;
    }

    .left-content .syllabus {
        padding-left: 8rem;
    }

    .left-content h1{
        font-size: 1.5rem;
        font-weight: 700;
    }

    .left-content .syllabus {
        padding-left: 3rem;
    }

    .logos img{
        height: 60px;
        width: 60px;
    }

    .lessons p {
        font-size: 1.8rem;
        color: #c240a5;
    }
}

@media (max-width: 295px) {
    .right-content{
        display: none;
    }

    .logos img{
        height: 80px;
        width: 80px;
    }

    .logos{
        gap: 4rem;
    }

    .number h1{
        font-size: 1.5rem;
    }

    .textual h3{
        font-size: 1.5rem;
    }

    .textual p{
        font-size: 0.75rem;
    }

    .card-body-new{
        gap: 1rem;
    }

    .card-body-new button.big{
        display: none;
    }

    .card-body-new button.small{
        width: 200px;
    }

    .yellow_section h1 {
        font-weight: 700;
        font-size: 2rem;
    }

    .card.text-end {
        width: 100%;
        height: 15rem;
    }

    .lessons{
        padding-left: 25%;
        text-align: center;
        padding-top: 5%;
    }

    .left-content .syllabus {
        padding-left: 8rem;
    }

    .left-content h1{
        font-size: 1.5rem;
        font-weight: 700;
    }

    .left-content .syllabus {
        padding-left: 3rem;
    }

    .logos img{
        height: 60px;
        width: 60px;
    }

    .lessons p {
        font-size: 1.8rem;
        color: #c240a5;
    }

    .title{
        display: grid;
    }

    .join_our p {
        color: #fff;
        font-weight: 500;
        font-size: 1rem;
        margin-right: 180px;
        white-space: nowrap;
    }

    .input_holder {
        width: 230px;
        display: flex;
        justify-content: space-around;
    }

.input_holder input{
    width: 180px;
}

.Privacy_holder{
    padding: 0;
}
}